<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscription Request</title>
    <style>
        @import url('https://cdn.jsdelivr.net/npm/tailwindcss@2.0.3/dist/tailwind.min.css');
    </style>
</head>
<body class="bg-gray-100">
<div class="max-w-lg mx-auto p-6 bg-white shadow-md rounded-md">
    <h1 class="text-2xl font-bold text-center text-blue-600">You've sent a subscription Request.</h1>
    <p class="mt-4 text-gray-700">Hello, you're a step ahead from working with us.  </p>

    <p class="mt-4 text-gray-700">We will create a user account and keep you up to date.  </p>
    <p class="mt-4 text-gray-700">Best regards,</p>
    <p class="text-gray-700">The BriefMaster Team</p>
</div>
</body>
</html>
